
.bg-primary {
    background-color: #e4c535 !important;
}

.bg-warning {
    --bs-bg-opacity: 1;
    background-color: #e4c535 !important;
}


.bg-dark {
    background-color: var(--color-black) !important;
}