.menu {
	position: fixed;
	left: 0;
	bottom: 0;
	display: grid;
	align-content: center;
	width: 100%;
	height: 3.5rem;
	padding: 0 1rem;
	border-top-left-radius: 1.5rem;
	border-top-right-radius: 1.5rem;
	background: var(--color-white);
	box-shadow: var(--shadow-medium);
}

@media only screen and (min-width: 768px) {
	.header {
		background: var(--color-white);
		box-shadow: var(--shadow-medium);
		transition: all 0.35s ease-in-out;
	}

	.menu {
		position: relative;
		top: 0;
		right: 0;
		width: auto;
		height: auto;
		background: none;
		box-shadow: none;
	}
}
