.mobilemenu {
    width: 100%;
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    background-color: var(--color-dark);
    z-index: 99;
    justify-content: space-around;
    box-shadow: 0 -24px 48px -15px rgba(33, 34, 34, 0.5);

    li {
        a {
            color: var(--color-light);

            .text-lb {
                background: linear-gradient(270deg, var(--color-light) 21.9%, var(--color-primary) 53.55%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .text-lg {
                background: linear-gradient(270deg, var(--color-light) 21.9%, var(--logo-green) 53.55%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .text-lr {
                background: linear-gradient(270deg, var(--color-light) 21.9%, var(--logo-red) 53.55%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}