.mobilemenu {
    width: 94%;
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    justify-content: space-between;
    scroll-snap-type: x mandatory;
    left: 3%;
    bottom: 0.875rem;
    background-color: rgba(44, 44, 54, 0.692);
	-webkit-backdrop-filter: blur(8px);
	-moz-backdrop-filter: blur(8px);
	-ms-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	border-radius: 0.875rem;
    z-index: 99;
    justify-content: space-around;
    align-items: center;	
    box-shadow: 0 -24px 48px -15px rgba(0, 0, 0, 0.35);
    

    li {
        a {
			position: relative;
			font-size: 0.805rem;
            color: var(--color-white);
			display: grid;
			align-items: center;
			justify-content: center;
			justify-items: center;
			padding: 0.055rem 0.175rem;

			svg {
				width: 30px;
				height: 30px;
				margin: 0;
				padding: 0;
			}

			span {
				position: relative;
				line-height: 1.175;
				text-transform: lowercase;
			}

            .text-lb {
                background: linear-gradient(270deg, var(--color-white) 21.9%, var(--color-primary) 53.55%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-size: 200% 200%;
                animation: gradientShift 3s ease-in-out infinite;
            }
            .text-lg {
                background: linear-gradient(270deg, var(--color-white) 21.9%, var(--logo-green) 53.55%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-size: 200% 200%;
                animation: gradientShift 3s ease-in-out infinite;
            }
            .text-lr {
                background: linear-gradient(270deg, var(--color-white) 21.9%, var(--logo-red) 53.55%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-size: 200% 200%;
                animation: gradientShift 3s ease-in-out infinite;
            }
        }
    }    
}