.serviceSec {
  position: relative;
  z-index: 1;
  background-color: var(--color-dark);
  padding: 140px 0 100px;
  @media #{$smlg-device} {
    padding: 140px 0 60px;
  }
  @media #{$md-layout} {
    padding: 180px 0 40px;
  }
  @media #{$sm-layout} {
    padding: 160px 0 20px;
  }

  .section-heading {
    text-align: left;
    margin-bottom: 60px;

    .subtitle {
      color: var(--color-primary);
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 15px;
    }

    .title {
      color: var(--logo-light);
      margin-bottom: 35px;
      width: 50%;
      @media #{$md-layout} {
        width: 100% !important;
      }

      // .gradient-text-light {
      //     background: linear-gradient(270deg, var(--logo-light) 21.9%, var(--color-primary) 53.55%);
      //     background-clip: text;
      //     -webkit-background-clip: text;
      //     -webkit-text-fill-color: transparent;
      // }
    }

    p {
      color: var(--color-text-dark);
      margin: 0 0 40px;
      width: 64%;
      // opacity: .6;
      font-size: var(--font-body-1);

      @media #{$md-layout} {
        font-size: var(--font-body-2);
      }
      @media #{$sm-layout} {
        font-size: var(--font-body-2);
      }
    }
  }

  /*-------------------------
    Service
    -------------------------*/
  .services-grid {
    display: flex;
    padding: 1.75rem 1.4rem 1.75rem;
    border-radius: 1.5rem;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
    transition: var(--transition);
    background-color: rgba(39, 39, 47, 0.5);
    -webkit-backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    -ms-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);

    @media #{$laptop-device} {
      padding: 50px 30px 40px;
    }
    @media #{$lg-layout} {
      padding: 40px 15px;
    }
    @media #{$md-layout} {
      padding: 40px 25px;
    }
    &:after {
      content: "";
      height: 100%;
      width: 100%;
      background: var(--gradient-dark);
      border: 1px solid;
      border-image-source: linear-gradient(
        0deg,
        #27272e 64.45%,
        rgba(74, 75, 86, 0.72) 100%
      );
      border-radius: 1.5rem;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      visibility: hidden;
      opacity: 0;
      transition: var(--transition);
    }
    .thumbnail {
      margin-right: 25px;
      // width: 110px;
      perspective: 1000px;
      width: 100%;
      position: relative;
      z-index: 3;
      transition: 0.5s;
      @media #{$sm-layout} {
        display: block;
        transform: perspective(0) rotateY(0deg);
      }

      &::before {
        position: absolute;
        width: calc(100% - -2px);
        height: calc(100% + -15px);
        top: calc(15px + 10px);
        content: "";
        border-radius: 1rem;
        z-index: -1;
        right: calc(25px - 5px);
        box-shadow: 0 5px 35px rgba(0, 2, 72, 0.1);
        opacity: 0;
        transition: all 0.5s;
        @media #{$sm-layout} {
          display: none;
        }
      }

      img {
        transition: 0.5s;
        animation: rotate-image linear;
        animation-timeline: scroll();
      }
      @media #{$lg-layout} {
        width: 80px;
      }
      @media #{$md-layout} {
        width: 180px;
        margin-right: 15px;
      }
    }
    .content {
      flex: 1;
      .title {
        font-size: 1.5rem;
        a {
          color: var(--color-white);
          &:hover {
            color: var(--color-primary);
          }
        }
      }
      p {
        color: var(--color-white);
        opacity: 0.5;
        letter-spacing: -0.025em;
        transition: var(--transition);
      }
      .more-btn {
        font-weight: 500;
        color: var(--color-white);
        position: relative;
        padding-left: 50px;
        &:before {
          content: "";
          width: 34px;
          height: 1px;
          background-color: var(--color-white);
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          transition: var(--transition);
        }
      }
    }
    &:hover,
    &.active {
      background: linear-gradient(
        125deg,
        var(--color-light) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      box-shadow: 0 24px 48px -15px rgba(45, 46, 46, 0.25);
      transform: scale(1.05);

      &:after {
        visibility: visible;
        opacity: 0.9;
      }
      .thumbnail {
        transform: perspective(500px) rotateY(-5deg);
        @media #{$sm-layout} {
          transform: perspective(0) rotateY(0);
        }

        img {
          transform: perspective(400px) rotateY(20deg);
          @media #{$sm-layout} {
            transform: perspective(0) rotateY(0);
          }
        }

        &::after {
          transform: scale(1);
        }
      }
      .content {
        p {
          color: var(--color-white);
          opacity: 1;
        }
        .more-btn {
          color: var(--logo-yellow);
          &:before {
            background-color: var(--logo-yellow);
          }
        }
      }
    }
  }
}

/*-------------------------
Service Page
-------------------------*/
.services-grid {
  display: flex;
  padding: 50px 50px 40px;
  border-radius: 1.5rem;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  transition: var(--transition);
  @media #{$laptop-device} {
    padding: 50px 30px 40px;
  }
  @media #{$lg-layout} {
    padding: 40px 15px;
  }
  @media #{$md-layout} {
    display: grid;
    padding: 40px 25px;
  }
  &:after {
    content: "";
    height: 100%;
    width: 100%;
    background: var(--gradient-dark);
    border: 1px solid;
    border-image-source: linear-gradient(
      0deg,
      #27272e 64.45%,
      rgba(74, 75, 86, 0.72) 100%
    );
    border-radius: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
  }
  .thumbnail {
    margin-right: 25px;
    max-width: 140px;
    perspective: 1000px;

    img {
      animation: rotate-image linear;
      animation-timeline: scroll();
    }
    @media #{$smlg-device} {
      max-width: 120px;
    }
    @media #{$md-layout} {
      width: 120px;
      margin-right: 15px;
    }
    @media #{$sm-layout} {
      margin-bottom: 1.5rem;
    }
  }
  .content {
    flex: 1;
    .title {
      a {
        color: var(--color-white);
        &:hover {
          color: var(--color-primary);
        }
      }
    }
    p {
      color: var(--color-white);
      opacity: 0.5;
      letter-spacing: -0.025em;
      transition: var(--transition);
    }
    .more-btn {
      font-weight: 500;
      color: var(--color-white);
      position: relative;
      padding-left: 50px;
      &:before {
        content: "";
        width: 34px;
        height: 1px;
        background-color: var(--color-white);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: var(--transition);
      }
    }
  }
  &:hover,
  &.active {
    background: linear-gradient(
      315deg,
      var(--logo-blue) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    box-shadow: 0 24px 48px -15px rgba(153, 161, 170, 0.25);

    &:after {
      visibility: visible;
      opacity: 1;
    }
    .thumbnail {
      &::after {
        transform: scale(1);
      }
    }
    .content {
      p {
        color: var(--color-white);
        opacity: 1;
      }
      .more-btn {
        color: var(--logo-yellow);
        &:before {
          background-color: var(--logo-yellow);
        }
      }
    }
  }
  &.service-card-style {
    background: linear-gradient(
      315deg,
      var(--color-light) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    background-color: var(--color-ship-gray);
    margin-bottom: 30px;
    height: -webkit-fill-available;
    transition: var(--transition);

    &:after {
      display: none;
    }
    .content {
      .title {
        a {
          color: var(--color-text-dark);
          &:hover {
            color: var(--color-primary);
          }
        }
      }
      p {
        color: var(--color-body);
        opacity: 1;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // display: -webkit-box;
        // -webkit-line-clamp: 3;
        // -webkit-box-orient: vertical;
      }
      .more-btn {
        color: var(--color-body);
        &:before {
          background-color: var(--color-body);
        }
      }
    }
    &:hover,
    &.active {
      background: linear-gradient(
        125deg,
        var(--color-dark) 0%,
        var(--color-ship-gray) 100%
      );
      box-shadow: 0 24px 48px -28px rgba(70, 72, 74, 0.15);
      transform: scale(1.05);

      .content {
        .more-btn {
          color: var(--color-primary);
          &:before {
            background-color: var(--color-primary);
          }
        }
      }
    }
  }
}

.service-scroll-navigation-area {
  position: relative;
  scroll-margin-top: 140px;

  .section {
    scroll-margin-top: 100px !important;
    @media #{$sm-layout} {
      scroll-margin-top: 100px !important;
    }
  }
}
.service-scroll-nav {
  width: 98%;
  left: 1%;
  height: auto;
  top: 90px;
  border-radius: 0.875rem;
  position: fixed;
  z-index: 2;
  padding-top: 5px;
  padding-bottom: 0;
  background-color: rgba(39, 39, 47, 0.8);
  -webkit-backdrop-filter: blur(8px);
  -moz-backdrop-filter: blur(8px);
  -ms-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  -webkit-transition: var(--transition);
  transition: var(--transition);

  @media #{$md-layout} {
    top: 80px;
    -webkit-overflow-scrolling: touch;

    .container {
      padding: 0;
    }
  }
  ul {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: space-evenly;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    @media #{$md-layout} {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      justify-content: space-between;
      scroll-snap-type: x mandatory;
    }
    li {
      margin: 0 10px;
      scroll-margin-top: 140px;

      @media #{$md-layout} {
        flex: 1;
        -webkit-flex: 1;
        text-align: center;
        min-width: max-content;
        scroll-snap-align: start;
      }
      a {
        font-size: 1rem;
        padding: 1.675rem 0.9rem 0.75rem;
        color: var(--color-white);
        position: relative;
        font-weight: 500;

        @media #{$sm-layout} {
          padding: 20px 10px;
        }
        &::after {
          content: "";
          height: 2px;
          width: 0;
          background-color: var(--color-primary);
          position: absolute;
          bottom: -1px;
          left: 0;
          -webkit-transition: var(--transition);
          transition: var(--transition);
        }
        &:hover {
          color: var(--color-primary);
          &::after {
            width: 100%;
          }
        }
      }
    }
    // li.current {
    // 	a {
    // 		color: var(--color-primary);
    // 		&::after {
    // 			width: 100%;
    // 		}
    // 	}
    // }
  }
}
@media only screen and (max-width: 991px) {
  .service-scroll-nav {
    ul {
      li {
        a {
          // padding: 26px 0;
          font-size: 15px;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .service-scroll-nav {
    ul {
      li {
        a {
          // padding: 10px 0;
          font-size: 15px;
        }
      }
    }
  }
}
@media only screen and (max-width: 575px) {
  .service-scroll-nav {
    ul {
      li {
        a {
          font-size: 14px;
        }
      }
    }
  }
}

.project-overview {
  a {
    &.text-primary {
      color: var(--logo-yellow) !important;

      &:hover {
        color: var(--logo-blue) !important;
      }
    }
  }
}

.att-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  position: fixed;
  top: 82px;
  width: 98%;
  left: 1%;
  padding: 1rem;
  z-index: 4;
  border-radius: 0.875rem;
  background-color: rgba(39, 39, 47, 0.8);
  -webkit-backdrop-filter: blur(8px);
  -moz-backdrop-filter: blur(8px);
  -ms-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

  @media #{$md-layout} {
    left: 0.9rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    justify-content: space-between;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }

  button {
    padding: 6px 20px;
    @media #{$md-layout} {
      flex: 1;
      -webkit-flex: 1;
      text-align: center;
      min-width: max-content;
      scroll-snap-align: start;
      padding: 0.65rem 1.75rem !important;

      &:first-child {
        margin-left: 1rem;
      }

      &:last-child {
        margin-right: 1rem;
      }
    }
  }
}
