/*-------------------------
    Button
-------------------------*/
.amor-btn {
  border-radius: 1rem;
  font-size: 1.15rem;
  font-weight: 600;
  padding: 0.975rem 3rem !important;
  height: auto;
  text-align: center;
  transition: var(--transition);
  position: relative;
  z-index: 1;
  background-size: 300% 300%;
  @media #{$sm-layout} {
    font-size: 1rem;
  }
  &.btn-borderd {
    border: var(--border-gray);
    color: var(--color-white);
    background-color: transparent;
    animation: light 2s infinite;
    background-image: linear-gradient(
      135deg,
      transparent,
      transparent 40%,
      #535353 50%,
      transparent 60%,
      transparent
    ) !important;
    &::after {
      content: "";
      height: 300px;
      width: 300px;
      background-color: var(--border-gray);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) scale(0);
      transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      z-index: -1;
    }

    &:hover {
      background-color: var(--color-dark);
      color: var(--color-white);
      border-color: var(--color-dark);
      &::after {
        transform: translateY(-50%) translateX(-50%) scale(1);
      }
    }
  }
  &.light {
    border: 1px solid var(--logo-yellow);
    color: var(--logo-yellow) !important;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
      content: "";
      height: 300px;
      width: 300px;
      background-color: var(--logo-yellow);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) scale(0);
      transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      z-index: -1;
    }

    &:hover {
      // background-color: var(--logo-yellow);
      color: var(--logo-yellow) !important;
      border-color: var(--logo-yellow);
      &::after {
        transform: translateY(-50%) translateX(-50%) scale(1);
        background: inherit;
        box-shadow: inset 0 0 3000px rgba(228, 196, 53, 0.75);
        filter: blur(10px);
      }
    }

    i {
      font-size: 1.65rem;
    }
  }
  &.btn-fill-primary {
    background-color: var(--logo-yellow);
    color: var(--color-dark);
    border: 1px solid var(--color-dark);
    overflow: hidden;

    animation: light 2s infinite;
    background-image: linear-gradient(
      135deg,
      var(--logo-yellow),
      var(--logo-yellow) 40%,
      #e7e1c4 50%,
      var(--logo-yellow) 60%,
      var(--logo-yellow)
    ) !important;
    &::after {
      content: "";
      height: 300px;
      width: 300px;
      background-color: var(--color-dark);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) scale(0);
      transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      z-index: -1;
    }
    &:hover {
      background-color: var(--color-dark);
      border-color: var(--color-link);
      color: var(--logo-yellow);
      &::after {
        transform: translateY(-50%) translateX(-50%) scale(1);
        background: inherit;
        box-shadow: inset 0 0 3000px rgba(228, 196, 53, 0.75);
        filter: blur(10px);
      }
    }
    @media #{$sm-layout} {
      display: block;
      // width: 100%;
    }
  }
  &.btn-fill-white {
    color: var(--color-dark);
    background-color: var(--color-white);
    box-shadow: 0px 48px 48px 0px rgba(#000000, 0.12);
    border: 1px solid var(--color-ship-gray);
    &::after {
      content: "";
      height: 300px;
      width: 300px;
      background-color: var(--color-link);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) scale(0);
      transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      z-index: -1;
    }
    &:hover {
      background-color: var(--color-dark);
      color: var(--color-dark);
      &::after {
        transform: translateY(-50%) translateX(-50%) scale(1);
      }
    }
  }
  &.btn-large {
    padding: 23px 55px;
    @media #{$md-layout} {
      padding: 18px 35px;
    }
  }
  &.btn-large-fluid {
    padding: 23px;
    width: 100%;
  }
  &.btn-fluid {
    width: 100%;
  }
}

.amor-hex {
  height: 200px;
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
  background: var(--color-dark);
}

@keyframes light {
  0% {
    background-position: 100% 100%;
  }

  to {
    background-position: 0 0;
  }
}
