// Gradient Test

.gradient-text {
  &.yellow-light {
    background: linear-gradient(
      270deg,
      var(--logo-light) 21.9%,
      var(--color-primaryY) 53.55%
    );
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 3s ease-in-out 2s;
  }
  &.yellow-dark {
    background: linear-gradient(
      270deg,
      var(--logo-light) 21.9%,
      var(--color-primaryY) 53.55%
    );
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 3s ease-in-out 2s;
  }

  &.blue-light {
    background: linear-gradient(
      270deg,
      var(--logo-light) 21.9%,
      var(--color-primary) 53.55%
    );
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 3s ease-in-out 2s;
  }
  &.blue-dark {
    background: linear-gradient(
      270deg,
      var(--logo-light) 21.9%,
      var(--color-primary) 53.55%
    );
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 3s ease-in-out 2s;
  }

  &.green-light {
    background: linear-gradient(
      270deg,
      var(--logo-light) 21.9%,
      var(--color-primaryG) 53.55%
    );
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 3s ease-in-out 2s;
  }
  &.green-dark {
    background: linear-gradient(
      270deg,
      var(--logo-light) 21.9%,
      var(--color-primaryG) 53.55%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 3s ease-in-out 2s;
  }
}
.text-ll {
  background: linear-gradient(
    270deg,
    var(--logo-light) 21.9%,
    var(--logo-light) 53.55%
  );
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 3s ease-in-out 2s;
}
.text-lb {
  background: linear-gradient(
    270deg,
    var(--logo-light) 21.9%,
    var(--color-primary) 53.55%
  );
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 3s ease-in-out 2s;
}
.text-lg {
  display: inline;
  background: linear-gradient(
    270deg,
    var(--logo-light) 21.9%,
    var(--logo-green) 53.55%
  );
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 3s ease-in-out 2s;
}
.text-lr {
  background: linear-gradient(
    270deg,
    var(--logo-light) 21.9%,
    var(--logo-red) 53.55%
  );
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 3s ease-in-out 2s;
}
.text-ly {
  background: linear-gradient(
    270deg,
    var(--logo-light) 21.9%,
    var(--logo-yellow) 53.55%
  );
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 3s ease-in-out 2s;
}
