/*-------------------------
   Project
-------------------------*/
.project-grid {
    box-shadow: 0 0px 50px -40px var(--color-light);
    border-radius: 30px;
    margin-bottom: 40px;

    .thumbnail {
        overflow: hidden;
        border-radius: 30px 30px 0 0;
        position: relative;

        img {
            border-radius: 30px 30px 0 0;
            width: 100%;
            -webkit-transition: var(--transition);
            transition: var(--transition);
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition: -webkit-transform 2s cubic-bezier(0.2, 0.96, 0.34, 1);
            transition: -webkit-transform 2s cubic-bezier(0.2, 0.96, 0.34, 1);
            transition: transform 2s cubic-bezier(0.2, 0.96, 0.34, 1);
            transition: transform 2s cubic-bezier(0.2, 0.96, 0.34, 1), -webkit-transform 2s cubic-bezier(0.2, 0.96, 0.34, 1);
        }
    }

    .content {
        background-color: var(--color-light);
        border-radius: 0 0 30px 30px;
        padding: 40px 50px;
        transition: var(--transition);

        .title {
            letter-spacing: -0.045em;
            margin-bottom: 10px;

            a {
                &:hover {
                    color: var(--color-link);
                }
            }
        }
    }

    &:hover {
        cursor: pointer;

        .content {
            background-color: #323241;
        }

        .thumbnail {
            img {
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    .project-grid .content {
        padding: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .project-grid .content {
        padding: 30px;
    }
}

.cta-buttons {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--color-ship-gray);
    padding-top: 3rem;
    @media #{$md-layout} {
        display: flex;
    }
    @media #{$sm-layout} {
        display: block;

        a {
            display: block;
            margin-bottom: 1rem;
            margin-right: 0 !important;
        }
    }
}