/*-------------------------
   Project
-------------------------*/
.project-grid {
    box-shadow: 0 0px 50px -40px var(--color-light);
    border-radius: 30px;
    margin-bottom: 40px;

    .thumbnail {
        overflow: hidden;
        border-radius: 1.5rem;
        position: relative;

        img {
            border-radius: 1.5rem;
            width: 100%;
            -webkit-transition: var(--transition);
            transition: var(--transition);
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition: -webkit-transform 2s cubic-bezier(0.2, 0.96, 0.34, 1);
            transition: -webkit-transform 2s cubic-bezier(0.2, 0.96, 0.34, 1);
            transition: transform 2s cubic-bezier(0.2, 0.96, 0.34, 1);
            transition: transform 2s cubic-bezier(0.2, 0.96, 0.34, 1), -webkit-transform 2s cubic-bezier(0.2, 0.96, 0.34, 1);
        }

        .content {
            background-color: rgba(39, 39, 47, 0.8);
            -webkit-backdrop-filter: blur(4px);
            -moz-backdrop-filter: blur(4px);
            -ms-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
            box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.35);
            border-radius: 1rem;
            padding: 1.5rem;
            transition: var(--transition);
            position: absolute;
            bottom: 1.5rem;
            left: 1.5rem;
            width: auto;    
            max-width: 92%;    
            height: auto;
            box-sizing: border-box;
            color: var(--color-dark);
            text-align: left;
            min-height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            z-index: 1;
            @media only screen and (max-width: 767px) {
                padding: 20px 25px;
                bottom: 1.25rem;
                left: 1.25rem;
            }
            @media only screen and (max-width: 575px) {
                padding: 15px 20px;
                bottom: 1rem;
                left: 1rem;
            }
            .title {
                letter-spacing: -0.045em;
                margin-bottom: 10px;
                @media only screen and (max-width: 767px) {
                    margin-bottom: 8px;
                }
                @media only screen and (max-width: 575px) {
                    margin-bottom: 6px;
                }
            }
            .subtitle {
                font-size: .9rem;
                color: var(--color-white);
                font-weight: 500;
                @media only screen and (max-width: 767px) {
                    font-size: .8rem;
                }
                @media only screen and (max-width: 575px) {
                    font-size: .8rem;
                }
            }
        }
    }

    &:hover {
        cursor: pointer;

        .thumbnail {
            img {
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
            }

            .content {
                -webkit-backdrop-filter: blur(10px);
                -moz-backdrop-filter: blur(10px);
                -ms-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);

                a {
                    color: var(--color-link);
                }
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    .project-grid .content {
        padding: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .project-grid .content {
        padding: 30px;
    }
}

.cta-buttons {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--color-ship-gray);
    padding-top: 3rem;
    @media #{$md-layout} {
        display: flex;
    }
    @media #{$sm-layout} {
        display: block;

        a {
            display: block;
            margin-bottom: 1rem;
            margin-right: 0 !important;
        }
    }
}