/*-------------------------
    Section Space
-------------------------*/
.section-padding {
    padding: 100px 0 110px;
    @media #{$smlg-device} {
        padding: 100px 0 70px;
    }
    @media #{$md-layout} {
        padding: 80px 0 50px;
    }
    @media #{$sm-layout} {
        padding: 60px 0 30px;
    }
}

@media #{$sm-layout} {
    .mob-stat {
        height: 100vh;
    }
}

.section-padding-equal {
    padding: 140px 0;
    @media #{$smlg-device} {
        padding: 100px 0;
    }
    @media #{$md-layout} {
        padding: 80px 0;
    }
    @media #{$sm-layout} {
        padding: 60px 0;
    }
}